<div class="panel panel-default">
  <div class="panel-heading">
    广告列表
    <div class="pull-right">
      <%= link_to "新建广告", new_bannar_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>标题</th>
          <th>连接</th>
          <th>状态</th>
          <th>过期时间</th>
          <th>图片</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@bannars) %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @bannars } %>
  </jthgffooter>
</div>

