<div class="panel panel-default">
  <div class="panel-heading">
    列表
    <div class="pull-right">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>类型</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>微信用户</td>
            <td><%= @wx_counts %></td>
          </tr>
          <tr>
            <td>广告位</td>
            <td><%= @bannars_counts %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>