<aside id="aside" class="app-aside app-aside-fixed hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>导航</span>
          </li>
          <li class="<%= "active" if controller_name == "home" %>">
            <a href="/admin/home" class="auto">
              <i class="glyphicon glyphicon-stats icon text-primary"></i>
              <span class="font-bold">控制面板</span>
            </a>
          </li>
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>平台管理</span>
          </li>
          <%# if current_manager.role == 'super_admin' %>
            <%# if can? :manage, Site %>
              <li class="<%= "active" if controller_name == "sites" %>">
                <a href="/admin/sites" class="auto">
                  <i class="fa fa-institution"></i>
                  <span>多站点管理</span>
                </a>
              </li>
            <%# end %>
            <%# if can? :manage, Manager %>
              <li class="<%= "active" if controller_name == "managers" %>">
                <a href="/admin/managers" class="auto">
                  <i class="fa fa-institution"></i>
                  <span>管理员帐号</span>
                </a>
              </li>
            <%# end %>
          <li class="line dk hidden-folded"></li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
