<div class="panel panel-default">
  <div class="panel-heading">
    底部菜单列表
    <div class="pull-right">
      <%= link_to "新建菜单", new_bottom_menu_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>名称</th>
          <th>图标</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@bottom_menus) %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @bottom_menus } %>
  </jthgffooter>
</div>